.content-his {
  margin-top: 1%;
  width: 80%;
  margin-left: 10%;
  text-align: left;
}
.roomid-his {
  font-size: 40px;
}
.winner-his {
  font-size: 17px;
  margin-top: 0%;
}
.point {
  display: inline-block;
}
.list-group {
  max-height: 350px;
  margin-bottom: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.game {
  float: left;
  margin-left: 1%;
}
.result {
  color: #5c95ff;
  float: right;
  margin-right: 1%;
}
.square-his {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  margin-left: 0px;
  border-radius: 0px;
  padding: 0;
  text-align: center;
  height: 50px;
  width: 50px;
  color: #000000;
}
.game-board-his {
  text-align: center;
  padding-top: 1px;
  padding-left: 5%;
}
