.div-dash {
  border-style: dashed;
  padding-top: 2.5%;
  border-color: #e5989b;
  text-align: center;
  height: 140%;
  width: 80%;
}
.div-dash:hover {
  cursor: pointer;
}
.div-text {
  font-size: 17px;
  color: #e5989b;
}
