body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Century Gothic", Futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  padding-left: 30px;
}

.game-board {
  text-align: center;
  overflow: scroll;
  padding-top: 1px;
  padding-left: 5%;
}

.game-info {
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  white-space: nowrap;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  margin-left: 0px;
  border-radius: 0px;
  padding: 0;
  text-align: center;
  height: 50px;
  width: 50px;
  color: #000000;
}

.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.text-danger {
  color: #e63946 !important;
}
.board {
  width: 50%;
  display: inline-block;
}
.at-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.action {
  text-align: left;
}
.action-button {
  margin-top: 0%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
}
.action-button:hover {
  cursor: pointer;
}
.start-button {
  padding-top: 5%;
  text-align: center;
  margin-top: 5%;
}
.flag {
  font-size: 200%;
  color: #7bf1a8;
}
.deal {
  font-size: 225%;
  color: #08bdbd;
}
.count {
  width: 50%;
}
.countdown {
  margin-top: 20%;
  text-align: center;
  font-size: 700%;
}
